.shelterGreen{
  color: #0ab060;
  font-weight: 200;
} 
.navbar{
  font-size: 20px;
  font-weight: 300;
}
.activebutton{
  color: #0ab060;
  font-weight: 500;
}
.font{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}